#features .col-12:not(:last-of-type) {
  margin-bottom: 50px;
}

#features {
  padding-bottom: 100px !important;
}

#how_it_works_section {
  background: var(--lightBgColor);
  padding: 100px 0;
}

#testimonials {
  padding: 150px 0 100px;
}

.features-col-single__img,
.features-col-single-content {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.features-col-single-content {
  /* Ensures text is left-aligned and matches image width */
  text-align: left;
}

.features-col-single h5,
.features-col-single p {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1024px) {
  #features {
    padding-bottom: 30px !important;
  }
}

@media (max-width: 767px) {
  #features {
    padding-bottom: 50px !important;
  }
}