/* faq */
#faq {
  padding: 150px 0 90px;
}
#faq .container {
  max-width: 848px;
}

#faq h4,
#faq h2 {
  text-align: center;
}
#faq h2 {
  margin-bottom: 40px;
}
.accordion-item {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0;
  border-radius: 0 !important;
}
.accordion-button {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  outline: none !important;
  padding: 10px 0 !important;
}
.accordion-button h5 {
  margin-bottom: 0;
}
.accordion-body {
  padding: 0;
  padding-bottom: 10px;
  color: var(--textColor);
  line-height: 1.6;
}
.accordion-button::after {
  background-image: url(../images/icons/plus-icon.svg);
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../images/icons/minus-icon.svg) !important;
}

/* cta */
#cta {
  background: linear-gradient(to right, #000 50%, var(--lightBgColor) 50%);
  margin-top: 100px;
}
#cta .col-md-2 {
  align-self: flex-end;
}
.cta-wrapper-all {
  padding: 100px 0;
}
.cta-wrapper-left {
  padding-right: 80px;
}
.cta-wrapper-left p {
  color: #fff;
}
.cta-wrapper-left h2 {
  color: #fff;
  max-width: 460px;
}
.cta-wrapper-left p:last-of-type {
  max-width: 465px;
  margin: 20px 0 40px;
}
.cta-wrapper-left__button--group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cta-wrapper-left__button--group a {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.cta-wrapper-left__button--group a:hover {
  transform: translateY(-2px);
  color: #fff;
}
.cta-wrapper-img {
  margin-left: -85px;
  margin-right: -85px;
  margin-top: -100px;
  margin-bottom: -1px;
}
.cta-wrapper-right {
  padding-left: 100px;
}
.cta-wrapper-right__single h3 {
  font-size: 44px;
  margin-bottom: 4px;
}
.cta-wrapper-right__single {
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}
.cta-wrapper-right__single--margin {
  margin-bottom: 60px;
}

/* how it works */
.how-it-works-single-flex {
  display: flex;
}
.how-it-works-single__icon {
  flex-basis: 30px;
  max-width: 30px;
}
.how-it-works-single__text {
  flex: 1;
  padding-left: 15px;
}
.how-it-works-text h2 {
  margin-bottom: 20px;
}
.how-it-works-img img {
  max-width: 245px;
}
.how-it-works-img {
  text-align: center;
  padding: 50px 30px;
}
.how-it-works-steps-wrapper {
  max-width: 613px;
  margin-top: 60px;
}
.how-it-works-text > p {
  max-width: 613px;
}
.how-it-works-single {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px;
}
.how-it-works-single:not(:last-of-type) {
  margin-bottom: 30px;
}

/* features */
#features {
  padding: 150px 0;
}
.features-header p {
  max-width: 708px;
  margin: 20px auto 50px;
}
#features .row {
  margin-left: -15px;
  margin-right: -15px;
}
#features .col-12 {
  padding-left: 15px;
  padding-right: 15px;
}
.features-col-single h5 {
  margin: 20px 0 5px;
}
.explore-more-btn {
  margin-top: 50px;
}

/* pricing */
#pricing {
  padding-top: 150px;
}
.pricing-header h2 {
  max-width: 582px;
  margin: 0 auto 50px;
}
.pricing-wrapper {
  background: var(--lightBgColor);
  padding: 40px;
}
.pricing-wrapper__left > p {
  margin: 10px 0 30px;
  max-width: 518px;
}
.pricing-info a {
  margin-top: 30px;
}
.pricing-info p:not(:last-of-type) {
  margin-bottom: 5px;
}
.pricing-wrapper-right ul {
  padding-left: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 0;
}
.pricing-wrapper-right ul li {
  padding-left: 36px;
  position: relative;
}
.pricing-wrapper-right ul li::before {
  content: "";
  position: absolute;
  background: url(../images/icons/checkmark-icon.svg);
  width: 14px;
  height: 14px;
  background-size: 100%;
  left: 5px;
  top: 5px;
}

/* testimonials */
.testimonials-wrapper {
  max-width: 1440px;
  margin: 50px auto 0;
}
.testimonials-arrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.testimonials-arrows a {
  background: #f1f1f1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials-arrows a:hover {
  background: var(--primaryColor);
}
.testimonials-arrows a svg path {
  transition: all 0.2s ease;
}
.testimonials-arrows a:hover svg path {
  stroke: #fff;
}
.testimonials-info {
  background: var(--lightBgColor);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.testimonials-info p:first-of-type {
  margin-bottom: 15px;
}
.testimonials-info h6 {
  margin-top: auto;
  margin-bottom: 2px;
}

.blog-card-single img {
  border-radius: 10px;
}
.blog-card-single p {
  margin: 15px 0 5px;
}

@media (max-width: 1200px) {
  .cta-wrapper-left__button--group {
    flex-direction: column;
    align-items: flex-start;
  }
  .cta-wrapper-left p:last-of-type {
    margin: 20px 0 30px;
  }
}

@media (max-width: 1024px) {
  .how-it-works-text h2 {
    margin-bottom: 12px;
  }
  .how-it-works-steps-wrapper {
    margin-top: 25px;
  }
  .how-it-works-img {
    margin-top: 25px;
  }
  .how-it-works-img img {
    max-width: 180px;
  }
  #pricing {
    padding-top: 90px;
  }

  .cta-wrapper-all {
    padding: 60px 0;
  }
  .cta-wrapper-right {
    padding-left: 20px;
  }
  .cta-wrapper-left {
    padding-right: 20px;
  }
  #cta {
    margin-top: 50px;
  }
  #features {
    padding: 90px 0;
  }
  #faq {
    padding-top: 90px;
  }
  .cta-wrapper-img {
    display: none;
  }
  .testimonials-wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 992px) {
  .cta-img-col {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .testimonials-wrapper .col-md-6 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .how-it-works-img {
    padding: 30px;
  }
  .how-it-works-single {
    padding-bottom: 20px;
  }
  .how-it-works-single:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .testimonials-info {
    margin-top: 10px;
  }
  .testimonials-wrapper {
    padding: 0 20px;
  }
  #pricing {
    padding-top: 50px;
  }
  #cta {
    background: var(--lightBgColor);

    margin-top: 30px;
  }
  .cta-wrapper-left {
    background: var(--primaryColor);
    margin: 0 -20px;
    padding: 40px 20px 50px;
  }
  .cta-wrapper-right__single h3 {
    font-size: 32px;
  }
  .cta-wrapper-right {
    padding-left: 0;
    padding: 40px 0 50px;
  }
  .cta-wrapper-left__button--group a {
    font-size: 14px;
    gap: 10px;
    padding: 10px 20px;
  }
  .cta-wrapper-left__button--group {
    flex-direction: row;
  }
  .cta-wrapper-left h2 {
    margin-top: 10px;
  }
  .cta-wrapper-left p:last-of-type {
    margin: 15px 0 20px;
  }
  .cta-wrapper-right__single--margin {
    margin-bottom: 30px;
  }
  .cta-wrapper-right__single {
    padding-bottom: 20px;
  }
  .accordion-item {
    padding: 8px 0;
  }
  .accordion-body {
    font-size: 16px;
  }
  #faq {
    padding: 50px 0 30px;
  }
  #faq h2 {
    margin-bottom: 10px;
  }
  #features {
    padding: 50px 0;
  }
  .features-header p {
    margin: 15px auto 30px;
  }
  #features .col-12:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .explore-more-btn {
    margin-top: 30px;
  }
  .pricing-header h2 {
    margin: 0 auto 30px;
  }
  .pricing-wrapper {
    padding: 20px;
    padding-bottom: 30px;
  }
  .pricing-wrapper__left > p {
    margin: 10px 0 20px;
  }
  .pricing-info a {
    margin-top: 20px;
  }
  .pricing-wrapper-right {
    padding-top: 20px;
  }
  .pricing-wrapper-right ul {
    margin-top: 20px;
    gap: 15px;
  }
  .pricing-wrapper-right ul li {
    padding-left: 30px;
  }
  .testimonials-arrows {
    justify-content: flex-start;
    margin-top: 20px;
  }
  .testimonials-wrapper {
    margin: 35px auto 0;
  }
  .testimonials-header h2 {
    max-width: 320px;
  }
  .view-all-blog {
    text-align: left !important;
    margin-top: 10px;
  }
}
