.pricing-heading h1 {
  max-width: 626px;
  margin: 0 auto;
}

.pricing-wrapper-parent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#faq {
  padding-bottom: 100px !important;
}

.benefits-rounded-bg {
  background: rgb(247,249,249);
  border-radius: 20px;
  padding: 2.5rem 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}


@media (max-width: 1024px) {
  #faq {
    padding-bottom: 80px !important;
  }
}

@media (max-width: 767px) {
  .pricing-wrapper-parent {
    gap: 20px;
  }

  #faq {
    padding-bottom: 50px !important;
  }
}