.testimonials-slider__single .row .col-12 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.testimonials-slider__single .row {
  margin: 0 -10px !important;
}

#review {
  padding-bottom: 150px;
}

.row-40 {
  row-gap: 40px !important;
}

@media (max-width: 1024px) {
  #review {
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  #review {
    padding-bottom: 30px;
  }
}

.testimonials-page-img {
  height: 100%;
}