* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.fl-page {
  overflow: hidden;
}

:root {
  --primaryColor: #14171a;
  --textColor: #5e5e5e;
  --lightBgColor: #f7f9f9;
}

::selection {
  background: var(--primaryColor);
  color: #fff;
}

.white-box {
  background: #fff;
}

html {
  scroll-behavior: smooth !important;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primaryColor);
  font-weight: 400;
}
h6 {
  font-weight: 500;
}

h1 {
  font-size: 44px;
  line-height: 1.2;
}

h2 {
  font-size: 38px;
  line-height: 1.3;
}

h3 {
  font-size: 32px;
  line-height: 1.3;
}

h4 {
  font-size: 26px;
  line-height: 1.5;
}

h5 {
  font-size: 20px;
  line-height: 1.6;
}

h6 {
  font-size: 18px;
  line-height: 1.6;
}

.small-heading {
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

li,
p {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

.body-small {
  font-size: 14px;
  line-height: 1.3;
}

.body-large {
  font-size: 18px;
  line-height: 1.8;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: var(--primaryColor);
}
a:hover {
  color: rgba(20, 23, 26, 0.6);
}

ul {
  list-style: none;
}

.container {
  max-width: 1320px;
}

.btn-arrow-all {
  background-color: transparent;
  color: var(--primaryColor);
  padding: 8px 20px;
  border-radius: 0px;
  border: 1px solid var(--primaryColor);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.btn-arrow-all:hover {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  color: #fff;
}
.btn-arrow-all svg path {
  transition: all 0.2s ease;
  fill: var(--primaryColor);
}
.btn-arrow-all:hover svg path {
  fill: #fff;
}

.btn-arrow-all-black {
  color: #fff;
  background: var(--primaryColor);
}
.btn-arrow-all-black svg path {
  fill: #fff;
}

.btn-arrow-all-black:hover {
  color: var(--primaryColor);
  background: transparent;
}
.btn-arrow-all-black:hover svg path {
  fill: var(--primaryColor);
}

/* header */
#header {
  border-bottom: 1px solid #d1d1d1;
  padding: 13px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
}
.main-nav__items--menu a {
  position: relative;
  color: var(--primaryColor) !important;
}

.main-nav__items--menu > a::before {
  content: "";
  position: absolute;
  background: var(--primaryColor);
  width: 0%;
  height: 1px;
  left: 0;
  bottom: -2px;
  transition: all 0.2s ease;
}
.main-nav__items--menu > a:hover::before,
.main-nav__items--menu > a.active::before {
  width: 100%;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav__items {
  display: flex;
  align-items: center;
  width: 100%;
}
.main-nav__items--menu a {
  font-size: 14px;
}
.main-nav__items--menu {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  align-items: center;
}
.main-nav__hamburger {
  display: none;
}
.dropdown-item-custom {
  position: relative;
  display: inline-block;
}
.dropdown-item-custom > span {
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
.dropdown-item-custom > span::before {
  content: "";
  position: absolute;
  background: url(../images/icons/chev-down.svg);
  width: 12px;
  height: 7px;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  transition: all 0.2s ease;
}
.dropdown-item-custom > span.active::before {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-menu-custom {
  position: absolute;
  top: 100%;
  left: -20px;
  min-width: 148px;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  z-index: 999;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  border-top: none;
  margin-top: 22px;
}

.dropdown-item-custom .dropdown-menu-custom.active {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu-custom a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}
.dropdown-menu-custom a:first-of-type {
  padding-top: 10px;
}
.dropdown-menu-custom a:last-of-type {
  padding-bottom: 18px;
}
.dropdown-menu-custom a:hover {
  background: var(--primaryColor);
  color: #fff !important;
}
.main-nav__items--login {
  gap: 10px;
  display: flex;
}
/* footer */
#footer {
  background: var(--primaryColor);
  padding: 100px 0 27px;
}
.footer-wrapper {
  max-width: 735px;
  position: relative;
  z-index: 9;
}
.footer-menu-wrapper p {
  color: #6d6d6d;
  margin-bottom: 20px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-menu a {
  color: #fff;
}
.footer-contact-wrapper p a:hover,
.footer-menu a:hover {
  opacity: 0.7;
}
.footer-contact-wrapper p a,
.footer-contact-wrapper p {
  color: #fff;
}
.footer-contact-wrapper p {
  margin-bottom: 10px;
}
.footer-social-media {
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer-social-media a {
  border: 1px solid #5e5e5e;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-media a:hover {
  transform: translateY(-3px);
}
.footer-img-wrapper img {
  margin-top: -220px;
}
#footer .separator {
  background: #5e5e5e;
  width: 100%;
  height: 1px;
  margin: 15px 0 20px;
}
.copyright-text p {
  font-size: 14px;
  color: #fff;
}
.footer-last-links {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}
.footer-last-links a {
  color: #fff;
  font-size: 14px;
}
.footer-last-links a:hover {
  opacity: 0.7;
}

.footer-logo h3 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 0px;
}
.footer-logo h4 {
  color: #fff;
  font-size: 42px;
  font-family: "IBM Plex Mono", monospace;
}
.footer-logo h4 span {
  font-family: "IBM Plex Mono", monospace;
}
.footer-logo h3 span,
.footer-logo h4 span {
  color: #c4c4c4;
}
.footer-phone-img {
  text-align: right;
}
.footer-phone-img img {
  max-width: 450px;
  width: 100%;
}

.first-section {
  padding-top: 150px;
}

.section-padding-all {
  padding: 150px 0;
}
.section-heading-wrapper-all {
  margin-bottom: 50px;
}
.row-40 .col-12 {
  padding-left: 20px;
  padding-right: 20px;
}
.row-40 {
  margin: 0 -20px;
  row-gap: 50px;
}
@media (max-width: 1350px) {
  .container {
    padding: 0 50px;
  }
  .footer-img-wrapper img {
    margin-top: -130px;
  }
}
@media (max-width: 1300px) {
  .footer-logo h3 {
    font-size: 56px;
  }
  .footer-logo h4 {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  h6 {
    font-size: 16px;
    line-height: 1.5;
  }
  .container {
    padding: 0 30px;
  }
  .row-40 .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row-40 {
    margin: 0 -15px;
    row-gap: 30px;
  }
  .main-nav {
    justify-content: space-between;
  }
  .main-nav__hamburger {
    display: flex;
    position: relative;
    z-index: 99999;
    flex-direction: column;
    gap: 7px;
  }
  .main-nav__hamburger span {
    background: var(--primaryColor);
    width: 30px;
    height: 1px;
    transition: all 0.2s ease;
  }
  .main-nav__hamburger.active .line-1 {
    transform: rotate(45deg);
  }
  .main-nav__hamburger.active .line-2 {
    transform: rotate(-45deg);
    margin-top: -8px;
  }
  .main-nav__items {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.2s ease;
    border-bottom: 1px solid #d1d1d1;
  }
  .main-nav__items.active {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
  }
  .main-nav__items--menu {
    flex-direction: column;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    width: 100%;
    gap: 0;
  }
  .main-nav__items--menu a {
    width: 100%;
    padding: 10px 31px;
  }
  .main-nav__items--menu a::before {
    display: none;
  }
  .dropdown-item-custom {
    padding: 10px 30px;
    width: 100%;
  }
  .main-nav__items--menu a.active {
    background: var(--primaryColor);
    color: #fff !important;
  }
  .dropdown-menu-custom {
    text-align: left;
  }
  .dropdown-item-custom .dropdown-menu-custom {
    transform: translateY(10px) translateX(-50%);
    left: 50%;
  }
  .dropdown-item-custom:hover .dropdown-menu-custom {
    transform: translateY(0px) translateX(-50%);
  }
  .footer-img-wrapper img {
    margin: 0;
  }
  #footer {
    padding: 70px 0 25px;
  }
  .footer-logo h3 {
    font-size: 42px;
  }
  .footer-logo h4 {
    font-size: 22px;
  }
  .dropdown-menu-custom {
    margin-top: 10px;
    border: 1px solid #d1d1d1;
    position: relative;
    max-height: 0;
    border-radius: 10px;
  }
  .dropdown-menu-custom.active {
    max-height: 200px;
  }
  .dropdown-menu-custom a {
    padding: 7px 20px;
  }
  .main-nav__items--login {
    padding: 0px 30px 15px;
  }
  .dropdown-menu-custom a {
    border-radius: 5px;
  }
  .section-padding-all {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .row-40 {
    row-gap: 25px;
  }
  .section-heading-wrapper-all {
    margin-bottom: 30px;
  }
  .section-padding-all {
    padding: 50px 0;
  }
  .first-section {
    padding-top: 110px !important;
  }
  .small-heading {
    margin-bottom: 5px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
    line-height: 1.2;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
    line-height: 1.4;
  }
  a,
  li,
  p {
    font-size: 16px;
  }
  .body-large {
    font-size: 16px;
    line-height: 1.5;
  }
  #footer {
    padding: 50px 0 25px;
  }
  .container {
    padding: 0 20px;
  }
  .main-nav__logo img {
    width: 110px;
  }
  .footer-menu-wrapper {
    margin-bottom: 25px;
  }
  .footer-menu-wrapper p {
    margin-bottom: 5px;
  }
  .footer-img-wrapper img {
    margin-top: -100px;
  }
  #footer .separator {
    margin: 10px 0 25px;
  }
  .copyright-wrapper .row {
    flex-direction: column-reverse;
  }
  .copyright-text p {
    text-align: center;
  }
  .footer-last-links {
    justify-content: center;
    margin-bottom: 20px;
  }
  .btn-arrow-all {
    font-size: 14px;
  }
  .blue-heading {
    margin-bottom: 5px;
  }
  .footer-logo h3 {
    font-size: 26px;
  }
  .footer-logo h4 {
    font-size: 10px;
  }
  #header {
    padding: 13px 0;
  }
  .dropdown-item-custom {
    padding: 10px 20px;
  }
  .main-nav__items--menu a {
    padding: 10px 20px;
  }
  .main-nav__items--login {
    padding: 0 20px 15px;
  }

  .dropdown-item-custom > span,
  .main-nav__items--login a,
  .main-nav__items--menu a {
    font-size: 16px;
  }
  .dropdown-menu-custom a {
    padding: 7px 20px;
    font-size: 14px;
  }
}
